<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <title>Henius</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/info-card.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">


  </head>
  <body>
    <header>
      <h1 class="tit-henius">
         <span class="tit-red">he</span><span class="tit-cyan">ni</span><span class="tit-lime">us</span> <!-- <span class="tit-yellow">.</span> -->
      </h1>
    </header>
    <main>
      <div id='id-box' class="box">
        <div id="bt-01" class="red botao-cor">
          <audio id="som1">
            <source src="{{url_for('static', filename='sounds/som1.wav')}}" type ="audio/wav">
          </audio>
        </div>
        <div id="bt-02" class="cyan botao-cor">
          <audio id="som2" >
            <source src="{{url_for('static', filename='sounds/som2.wav')}}" type ="audio/wav">
          </audio>
        </div>
        <div id="bt-03" class="lime botao-cor">
          <audio id="som3" >
            <source src="{{url_for('static', filename='sounds/som3.wav')}}" type ="audio/wav">
          </audio>
        </div>
        <div id="bt-04" class="yellow botao-cor">
          <audio id="som4" >
            <source src="{{url_for('static', filename='sounds/som4.wav')}}" type ="audio/wav">
          </audio>
        </div>
      </div>
    </main>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/18d6c9162d.js" crossorigin="anonymous"></script>
    <script type="module" src="{{url_for('static', filename='js/main.js')}}" charset="utf-8"></script>
  </body>
</html>
